<div class="col-md-6">
  <h3>Observations by Protocol</h3>
  <% @by_protocol.each do |protocol| %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= protocol.title %></div>
        <div class="panel-body">
          <% protocol.observations.each do |observation| %>
            <h5><%= "Observation [Id: #{observation.id} Date: #{observation.date}]" %></h5>
            <table class="table table-striped table-bordered">
              <thead>
                <% observation.samples.first.response_data.each do |k, v| %>
                <th><%= k %></th>
                <% end %>
              </thead>
              <tbody>
              </tbody>
            </table>
          <% end %>
      </div>
    </div>
  <% end %>
</div>
