<div class="col-md-12">
  <h3>Data by Protocol</h3>
  <% @protocols.each do |protocol| %>
    <div class="panel panel-default">
      <!-- Protocol Header -->
      <div class="panel-heading">
        <h4>
          <%= protocol.title %>
          <%= link_to "Download CSV", observation_path(protocol, format: "csv"), class: "btn btn-success btn-xs" %>
        </h4>
      </div>
      <!-- Protocol Contents -->
      <div class="panel-body">
        <%= render partial: "samples_table", locals: { observations: protocol.observations, column_headers: protocol.observations.first.sample_field_names } %>
      </div>
    </div>
  <% end %>
</div>
