<h1><%= @survey_protocol.title %></h1>

<h3>Survey Fields</h3>

<div id='formbuilder'></div>

<script>
Formbuilder.options.HTTP_ENDPOINT = "<%= survey_protocol_path(@survey_protocol) %>";
Formbuilder.options.HTTP_METHOD = "PUT";
new Formbuilder({ selector: '#formbuilder' });
</script>
