<h1><%= @survey_protocol.title %></h1>

<h3>Survey Fields</h3>

<div id='formbuilder'></div>

<script>
var formbuilder = new Formbuilder({ selector: '#formbuilder' });
formbuilder.on('save', function(payload) {
  console.log(payload);
});
</script>

