<h2>Protocols</h2>
<ul>
  <% @survey_protocols.each do |protocol| %>
      <li><%= link_to protocol.title, [:edit, protocol] %></li>
  <% end  %>
</ul>

<hr/>
<p><%=link_to("Add Observations",new_observation_path)%></p>
<p><%=link_to("Add a New Protocol", new_survey_protocol_path)%></p>
